@import url('node_modules/antd/dist/antd.css');

.note-it-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 2em 5em;
  column-gap: 5em;
  height: calc(100vh - 131px);
  overflow: hidden;
}

.note-it-preview-container {
  margin-top: 1em;
  height: calc(100vh - 211px);
  overflow: auto;
}

/* 列表整体样式 */
.note-it-classlist {
  display: flex;
  flex-direction: column;
  gap: 2em;
  overflow: auto;
  padding: 1em;
}

/* 卡片区样式 */
.note-it-card {
  --shadow-color1: #aaa;
  --shadow-color2: #fff;
  --border-color: #e8e8e8;
  --background-color: transparent;
  --svg-fill: #262626;
  padding: 1.5em 2em 1em;
  box-shadow: 3px 3px 10px var(--shadow-color1), -5px -5px 10px var(--shadow-color2); 
  user-select: text;
  border-radius: 5px;
  background-color: var(--background-color);
  position: relative;
  font-size: 1.2rem;
}

.theme-dark .note-it-card {
  --shadow-color1: #58585b;
  --shadow-color2: #1c1b1f;
  --border-color: white;
  --background-color: transparent;
  --svg-fill: #d1dade;
}

.note-it-card .note-it-card-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding-right: 2em;
  margin-bottom: 1em;
}

.note-it-card .icons-wrapper {
  display: none;
}

.note-it-card:hover .icons-wrapper {
  display: block;
}

.note-it-card .icons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  top: 1em;
  right: 1em;
}

.note-it-card .icons .edit {
  cursor: pointer;
  width: 1em;
  height: 1em;
}

.note-it-card .icons .delete {
  cursor: pointer;
  width: 1em;
  height: 1em;
}

.note-it-card .icons svg path {
  fill: var(--svg-fill);
}

.note-it-card pre[class*="lang"] {
  position: relative;
}

.note-it-card pre[class*="lang"] .copy-code-button {
  display: none;
  position: absolute;
  right: 1em;
  top: 1em;
}

.note-it-card pre[class*="lang"]:hover .copy-code-button {
  display: block;
}

.note-it-card :is(h1, h2, h3, h4, h5, h6) {
  color: var(--text-normal);
}


/* 编辑区样式 */
.note-it-editor {
  max-width: 100%;
  overflow: hidden;
}

.note-it-editor .editor textarea {
  --border-color: #e8e8e8;
  width: 100%;
  font-size: 1.2rem;
  color: var(--text-normal) !important;
  border-radius: 4px;
  box-shadow: none !important;
  border: 1px solid var(--border-color) !important;
  padding-top: 1em;
  padding-left: 1em;
  max-height: calc(100vh - 400px) !important;
  overflow: auto !important;
  font-family: 'Fira Code', Consolas, Lora, '华文新魏', '魏碑-简', monospace;
}

.note-it-editor .editor textarea:focus {
  box-shadow: none !important;
  border: 1px solid var(--border-color) !important;
}

.theme-dark .note-it-editor .editor textarea {
  --border-color: white;
}

.note-it-editor .preview {
  max-width: 100%;
  max-height: calc(100vh - 300px) !important;
  overflow: auto !important;
}

.note-it-editor .preview pre[class*="lang"] {
  position: relative;
}

.note-it-editor .preview pre[class*="lang"] .copy-code-button {
  display: none;
  position: absolute;
  right: 1em;
  top: 1em;
}

.note-it-editor .preview pre[class*="lang"]:hover .copy-code-button {
  display: block;
}

.theme-dark {
  --text-normal: #CCCCCC;
}

.note-it-editor .preview :is(h1, h2, h3, h4, h5, h6) {
  color: var(--text-normal);
}

/* 标签 */
.note-it-editor .note-it-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 1em;
}

.note-it-editor .note-it-tags-container {
  margin: 1em 0;
}

/* 平板 */

@media screen and (max-width: 900px) {
  .note-it-container {
    display: flex;
    flex-direction: column;
    padding: 2em 5em;
    height: auto;
  }

  .note-it-preview-container {
    height: auto;
    overflow: visible;
    margin-top: 5em;
  }

  .note-it-editor .editor textarea {
    max-height: calc(100vh - 200px);
    overflow: hidden;
  }
}

