.noteItEditor {
  padding: 2em 2em;
  height: 100%;
}

.noteItEditor textarea {
  width: 100%;
  border: none;
  font-size: 1em;
  color: var(--text-normal);
}

.noteItEditor textarea:focus {
  box-shadow: none !important;
  border: none !important;
}

.preview pre[class*="lang"] {
  position: relative;
}

.preview pre[class*="lang"] .copy-code-button {
  display: none;
  position: absolute;
  right: 1em;
  top: 1em;
}

.preview pre[class*="lang"]:hover .copy-code-button {
  display: none;
  position: absolute;
  right: 1em;
  top: 1em;
}

 