.card {
  --shadow-color: rgba(0, 0, 0, .3);
  --border-color: black;
  padding: '2em';
  padding-bottom: '1em';
  box-shadow: 0 0 10px 0 var(--shadow-color); 
  user-select: 'text';
  border-radius: .5em;
  border: 1px solid var(--border-color);
}

.theme-dark .card {
  --shadow-color: rgba(255, 255, 255, 0.966);
  --border-color: white;
}

.card pre[class*="lang"] {
  position: relative;
}

.card pre[class*="lang"] .copy-code-button {
  display: none;
  position: absolute;
  right: 1em;
  top: 1em;
}

.card pre[class*="lang"]:hover .copy-code-button {
  display: none;
  position: absolute;
  right: 1em;
  top: 1em;
}